@import '../../styles/base.scss';

.trip-details {
  
  .trip-tags {
    width: 100%;
    display: flex;

    .trip-tags-spacer {
      flex: 1;
    }
  
    #trip-modal-switch {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
  
      .trip-modal-switch-option {
        color: $gray-2;
        font-weight: 100;
        margin-left: 15px;
        cursor: pointer;

        &:hover {
          color: green;
        }
  
        &.active {
          color: $green;
          font-weight: 800;
        }
      }
    }
  }
  
  .trip-description{
    text-align: justify
  }

  .leader-trip-info{
    width: 100%;
    display: flex;
  }

  .trip-details-table {
    width: 100%;
    border: 2px solid $gray-2;
    border-radius: 5px;
    padding: 1em;

    hr {
      margin: 0.5em 0;
    }

    .trip-details-table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .trip-details-table-left {
        font-weight: 800;
  
      }
      .trip-details-table-right {
        color: $gray-3;
      }
    }
  }
}