@import '../../styles/base.scss';

.trip-details {

  .trip-number {
    font-size: 24px;
    color: $gray-text;
    margin-bottom: 10px;
  }
  
  .trip-tags {
    width: 100%;
    display: flex;
  
    .trip-club-tag {
      width: fit-content;
      padding: 0 0.5em;
      background-color: rgb(229, 205, 190);
      border-style: solid;
      border-color: rgb(229, 205, 190);
      border-radius: 5px;
    }
  
    #trip-statuses {
      display: flex;
      margin-left: 40px;
      height: 30px;
    }

    .trip-tags-spacer {
      flex: 1;
    }
  
    #trip-modal-switch {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
  
      .trip-modal-switch-option {
        color: $inactive-text;
        font-weight: 100;
        margin-left: 15px;
        cursor: pointer;

        &:hover {
          color: green;
        }
  
        &.active {
          color: $green;
          font-weight: 800;
        }
      }
    }
  }
  
  .trip-description{
    text-align: justify
  }

  .leader-trip-info{
    width: 100%;
    display: flex;
  }

  .trip-details-table {
    width: 100%;
    border: 2px solid $inactive-text;
    border-radius: 5px;
    padding: 1em;

    hr {
      margin: 0.5em 0;
    }

    .trip-details-table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .trip-details-table-left {
        font-weight: 800;
  
      }
      .trip-details-table-right {
        color: $gray-2;
      }
    }
  }
}