@import '../../styles/base.scss';

#my-trips-page {
  margin: 0 calc(50vw - 670px); // a wider version of .center-view
  
  #my-trips-tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > * {
      margin-right: 45px;
      margin-bottom: 45px;
    }

    > :last-child {
      margin-right: 0px !important;
    }

    .my-trips-no-trips-text {
      margin: 0 100px;
      color: $gray-text;
    }
  }
}