@import '../../styles/base.scss';

#mobile-check-screen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10vw;

  #mobile-check-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > * {
      margin: 5vw 0;
    }
  }

  hr {
    background-color: black;
    width: 100%;
    height: 0.5px;
    border-top: none !important;
    margin: 5vw 0; // override for bootstrap
  }

  #mobile-check-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > * {
      margin: 5vw 0;
    }

    #mobile-check-list {
      margin: 5vw 0;

      #mobile-check-list-name-field {
        flex: 1;
      }
      #mobile-check-list-button {
        button {
          align-self: center;
        }
      }
    }

    > :last-child {
      text-align: center;
      font-style: italic;
      font-size: 14px;
    }
  }
}