@import '../../styles/base.scss';

#mobile-check-screen {
  display: flex;
  flex-direction: column;
  padding: 10vw;

  #mobile-check-in-list {
    #mobile-check-in-list-name-field {
      flex: 1;
    }
  }
}