@import '../../styles/base.scss';

.profile-pic-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.profile-pic-container-edit {
    #profile-pic-upload-text {
      display: none;

    }

    &:hover {
      .profile-pic {
        filter: brightness(40%);
      }

      #profile-pic-upload-text {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 1em;
        font-weight: 500;
      }
    }
  }

  .profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="file"] {
      display: none;
    }

    .user-initials {
      font-size: 3em;
      color: gray;
      font-weight: 800;
    }
    
    .profile-photo-fit {
      position: relative;
      width: 100%;     
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
    }
    
    .profile-photo {
      position: absolute;
      top: 50%;     
      left: 50%;
      height: 100%;
      width: auto;
      transform: translate( -50%, -50%);

      &.landscape {
        height: 100%;
        width: auto;
      }
    }
  }
}