@import '../../styles/base.scss';

$trip-card-padding: 15px;

.trip-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    filter: brightness(90%);
    cursor: pointer;
  }

  .trip-card-badge-holder {
    z-index: 2; // on top of the decal
    position: absolute;
    bottom: $trip-card-padding;
    right: $trip-card-padding;
  }

  .trip-card-decal {
    z-index: 1;
    position: absolute;
    opacity: 0.07;
    
    &.large {
      width: 45%;
      height: auto;
      right: $trip-card-padding;
      top: $trip-card-padding;
    }
    &.small {
      width: auto;
      height: 140%;
      right: -25px;
      top: calc(50px - 70px);
    }
  }

  .trip-card-blur-container {
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 1em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }

    .trip-card-description {
      overflow: hidden;
    }
  }
  
  .trip-card-large-blur {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.8) 25%, rgba(250, 250, 250, 0) 100%);
    height: 125px;
  }
}

#create-trip {
  width: $trip-card-width;
  height: 330px;
  padding: $trip-card-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $gray-3;
  border: 3px dashed $gray-3;
  box-shadow: none;

  &:hover{
    filter: brightness(120%);
  }

  .create-trip-words {
    margin-bottom: 1em;
  }
}

.link{
  background-color: rgb(75, 157, 119);
  color:white;
}

// Unused

#ledyard::after{
  // background-image: url("../../img/ledyard.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 58%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#mountain::after{
  // background-image: url("../../img/dmc.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 46%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.4;
  bottom: -3%;
}

#doc::after{
  // background-image: url("../../img/doc.gif");
  background-size: 100%;
  content: ' ';
  display: block;
  position: absolute;
  left: 42%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}

#cnt::after{
  // background-image: url("../../img/cnt.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#wiw::after{
  // background-image: url("../../img/wiw.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.5;
  bottom: 0;
}
#wood::after{
  // background-image: url("../../img/woodsmen.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 42%;
  width: 60%;
  height: 90%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#surf::after{
  // background-image: url("../../img/surf.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 43%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: -1%;
}
#dmbc::after{
  // background-image: url("../../img/dmbc.jpg");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 70%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#wsc::after{
  // background-image: url("../../img/wsc.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}