@import '../../styles/base.scss';

#landing-page {
  height: 100vh;
  width: 100vw;
  background-image: url(./background-phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &.landing-page-onboarding {
    background-image: url(./background-phone-no-brand.svg) !important;
  }

  .landing-card {
    position: relative;
    left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &.l {
      width: 725px;
    }
    &.s {
      width: 500px;

    }

    .landing-card-message {
      font-size: 24px;
      > * {
        margin-bottom: 25px !important;
      }
    }
    
    .landing-card-actions {
      display: flex;
      justify-content: space-around;
    }
  }
}

#doc-icon{
  position: absolute;
  left: 2.64%;
  right: 92.5%;
  top: 3%;
  bottom: 91.33%;
}
