@import '../../styles/base.scss';

.booking-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-top: 5px solid $green !important;
  padding: 10px;
  color: black;
  height: 100%;

  &.conflict {
    background: $error-red-light;
    border-top: 5px solid $error-red-deep !important;
  }

  &.hoverable-booking:hover .booking-tooltip{
    display: unset;
    z-index: 1;
    position: absolute;
    top: 50%;
  }

  &.hoverable-booking:hover .booking-mini-details{
    display: none;
  }

  .booking-time{
    font-size: 0.8em;
  }

  .booking-reason {
    font-size: 14px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 0.3em;
    height: 50%;
  }

  .booking-mini-details{
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    height: 50%;
    align-items: center;

    .booking-status-container{
      display: flex;
      align-items: center;
    
      .booking-dot{
        padding-bottom: 0.5em;
        margin-left: 0.03em;
        margin-right: 0.03em;
        font-size: 2.2em;
      }
      .booking-pickedUp, .booking-returned{
        font-weight: 700;
      }
    }
  }
  .booking-tooltip{
    display: none;
    z-index: 1;
  }
}