.card-trip {
  background-color: rgba(0,0,0,0.4);

  &:hover {
    background-color: rgba(0,0,0,0.6);
  }

  a {
    color: black;

    &:link, &:visited, &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: white;
  }

  p {
    color: white;
  }
}
.container-alltrips {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  position: fixed;
  display: flex;
  justify-content: center;
}
.row {
  overflow-y: scroll;
}
