.alltrips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.trip {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3.2em;

  #text {
    margin-top: 0;
    background-color: white;
    width: 15em;

    h1 {
      font-size: 1.5em
    }

    p {
      font-size: 1em;
    }
  }
}
