.approve-button{
  background: #0CA074;;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  margin-left: 1em;
  height: 40px;
}

.deny-button{
  background: #EE6E52;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  width: 120px;
  height: 40px;
}
