$green: #0CA074;
$error-red-deep: #A93A3A;
$error-red-light: #FFD8D8;

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}
