$green: #0CA074;
$green-faded: #E7F6F1;
$error-red-deep: #A93A3A;
$orange: #EE6E52;
$error-red-light: #FFD8D8;
$background: #FAFAFA;
$inactive-text: #C4C4C4;
$gray-2: #848588;
$gray-text: #494c50;

$menu-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $background;

    .center-view {
        margin: 0 calc(50vw - 600px);

        &.spacy {
            > * {
                margin-top: 85px;
              }
        }
    }
}

* {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
    &:link, &:visited, &:hover {
        text-decoration: none !important;
    }
}

.doc-h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.0 !important; // override react-bootstrap
}

.doc-h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.0 !important; // override react-bootstrap
}

.doc-h3 {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.0 !important; // override react-bootstrap
}

.label-text {
    font-size: 16px;
    // font-variant: small-caps;
    color: $gray-text;
}

.p1 {
    font-size: 18px;
}

.p2 {
    font-size: 14px;
    font-weight: 300
}

.inactive {
    color: $inactive-text;
    font-weight: 100;
}

.heavy-line {
    width: 100%;
    height: 0.1px;
    margin-top: 0; // override for react-boostrap
    background-color: $inactive-text;
}

.doc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    background: $green;
    font-size: 18px;
    letter-spacing: 5%;
    font-weight: 800;
    color: white;
    cursor: pointer;

    &.alarm {
        background: $orange;
    }

    &.hollow {
        color: $green;
        background: white;
        border: 3px solid $green;
    }

    &.disabled {
        filter: saturate(50%);
        cursor: default;
    }

    &:hover{
        filter: brightness(110%);
    }
}

.close-button{
    font-size: 2em;
    margin-top: 10px;
    margin-right: 10px;
    color: $gray-2;
    cursor: pointer;
  
    &:hover{
      color: $orange;
    }
}

.modal {
    & .close-button{
        size: 24px;
        color: black;
        cursor: pointer;

        &:hover{
            color: #EE6E52;
        }
    }

    & .action-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1em;
        border-radius: 5px;
        background: $green;
        font-size: 18px;
        letter-spacing: 5%;
        font-weight: 500;
        color: #ffffff;
        cursor: pointer;

        &.alarm {
            background: #EE6E52;
        }

        &:hover{
            background: rgb(241, 130, 105)
        }
      }

}

.doc-card {
    background: white;
    box-shadow: $menu-shadow;
    border-radius: 10px;
    padding: 25px;

    &.small-card {
        padding: 15px;

        &.spacy-card {
            > * {
                margin-bottom: 15px !important;
            }
            :last-child {
                margin-bottom: 0 !important;
            }
        }
    }

    &.spacy-card {
        > * {
            margin-bottom: 25px !important;
        }
        :last-child {
            margin-bottom: 0 !important;
        }
    }

    &.large-card {
        padding: 45px;

        &.spacy-card {
            > * {
                margin-bottom: 45px !important;
            }
            :last-child {
                margin-bottom: 0 !important;
            }
        }
    }


}

.doc-table {
    margin: 0 !important; // override for react-bootstrap
    
    td {
        vertical-align: middle;
    }
}

.doc-form {
    & > * {
        margin-bottom: 1em;
    }

    > :last-child {
        margin-bottom: 0 !important;
    }

    .field-label {
        font-size: 18px;
        font-weight: 800;
        color: $gray-text;
    }
}

.field {
    border: 2px solid $inactive-text !important;
    background: white !important;
    border-radius: 10px;
    padding: 0.7em 1em;
    font-weight: 600;
    font-size: 18px;
    color: $gray-text;
    // height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus {
        border: 4px solid $green !important;
        outline: none; // overrides browser default
    }

    &.field-full-width {
        width: 100%;
    }

    .field-dropdown-bootstrap {
        color: $gray-text;
    }

    .field-dropdown-menu {
        margin-top: 0.3em;
        box-shadow: $menu-shadow !important;
        border-radius: 10px;
        width: 100% !important;
    }

    .dropdown-icon {
        margin-left: 1em;
    }

    &.field-error {
        border: 2px solid $error-red-deep !important;
    }

    &.create-trip-form-bottom-margin {
      margin: 0rem 0rem 3rem 0rem;

      &.leaders {
        margin: 0rem 3rem 2.5rem 0rem;

        &.pcard {
          width: 50%;
        }
      }

      &.pickupDropoff {
        width: 85%;
        height: 3em;
        margin: 0rem 3rem 2.5rem 0rem;
      }

      &.other_costs {
        width: 60%;
        display: inline-block;
        &.other_costs_num {
          width:20%;
        }
      }
    }
}