$green: #0CA074;
$error-red-deep: #A93A3A;
$error-red-light: #FFD8D8;
$background: #FAFAFA;
$inactive-text: #C4C4C4;
$gray-text: #2c2f33;

$menu-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $background;

    .center-view {
        margin: 0 calc(50vw - 600px);
    }
}

* {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}

.h1 {
    font-size: 36px;
    font-weight: 800;
}

.h2 {
    font-size: 24px;
    font-weight: 800;
}

.p1 {
    font-size: 18px;
}

.doc-button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    background: $green;
    font-size: 18px;
    letter-spacing: 5%;
    font-weight: 800;
    color: white;
    cursor: pointer;

    &.alarm {
        background: #EE6E52;
    }

    &:hover{
        filter: brightness(110%)l
    }
}

.modal {
    & .close-button{
        size: 24px;
        color: black;
        cursor: pointer;

        &:hover{
            color: #EE6E52;
        }
    }

    & .action-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1em;
        border-radius: 5px;
        background: $green;
        font-size: 18px;
        letter-spacing: 5%;
        font-weight: 500;
        color: #ffffff;
        cursor: pointer;

        &.alarm {
            background: #EE6E52;
        }

        &:hover{
            background: rgb(241, 130, 105)
        }
      }

}

.doc-card {
    background: white;
    box-shadow: $menu-shadow;
    border-radius: 10px;
    padding: 25px;
}

.doc-table {
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    margin-bottom: 2em;
    padding: 0 1em;
    background: white;
    width: 100%;

    td {
        vertical-align: middle;
    }
}

.doc-form {
    & > * {
        margin-bottom: 1em;
    }

    :last-child {
        margin-bottom: 0 !important;
    }

    .field-label {
        font-size: 18px;
        font-weight: 800;
        color: $gray-text;
    }
}

.field {
    width: 100%;
    border: 2px solid $inactive-text !important;
    background: white !important;
    border-radius: 10px;
    padding: 0 1em;
    font-weight: 600;
    font-size: 18px;
    color: $gray-text;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .field-dropdown-bootstrap {
        color: $gray-text;
    }

    .field-dropdown {
        margin-top: 0.3em;
        box-shadow: $menu-shadow !important;
        border-radius: 10px;
        width: 100% !important;
    }

    &.field-error {
        border: 2px solid $error-red-deep !important;
    }

    &.top-create-trip {
      margin: 0rem 0rem 3rem 0rem;

      &.leaders {
        margin: 0rem 3rem 2.5rem 0rem;

        &.pcard {
          width: 50%;
        }
      }

      &.pickupDropoff {
        width: 85%;
        height: 3em;
        margin: 0rem 3rem 2.5rem 0rem;
      }

      &.other_costs {
        width: 60%;
        display: inline-block;
        &.other_costs_num {
          width:20%;
        }
      }
    }

    &.trip-descrip-box{
      height: 200px;
      border: 2px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 2rem;
    }
}