.card-trip {
  margin-right: 10px;
  text-align: left;

  // &:hover {
  //   background-color: #cacaca;
  // }

  a {
    color: black;

    &:link, &:visited, &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: black;
  }


  p {
    color: black;
  }
}
.create-trip-link{
  color: rgb(131, 131, 131);
  &:hover{
    color: rgb(131, 131, 131);
  }
  &:link, &:visited {
    text-decoration: none;
  }
}
.all-trips {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.myTrips {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.all-trips-header {
  margin-bottom: 10px;
  color:black;
}

.box {
  // // margin-top: 70px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  text-align: center;
}

.card {
  width: 18rem;
  margin: 1rem;
  display:inline-block;
}

.card-title{
  font-size: 14pt;
  font-weight:bold;
}
.all-trips-select {
  display: inline-block;
  width:15%;
  color:rgb(75, 157, 119);
  background: url(../img/dropdownarrow.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;

}
.all-trips-date-select{
  display: inline-block;
  width:20%;
  color:rgb(75, 157, 119);
  background: none;

}
.card-body{
  box-sizing: content-box;
  padding:5%;
  text-align: left;
  height:300px;
  box-shadow: 2px 2px 2px gray;

  position: relative;
  background: white;
  overflow: hidden;

}
.all-trips-dropdown-bar{
  width: 100%;
  text-align: center;
}
.all-trips-dropdown-header{
  display:inline-block;
  width:fit-content;
  margin-left:1.5%;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
}

.card-club{
  width:fit-content;
  font-size: 10pt;
  background-color: rgb(229, 205, 190);
  border-style: solid;
  border-color: rgb(229, 205, 190);
  border-radius: 5px;
}
.calendar-container {
  margin-top: 2vh;
  height: 90vh;
  background-color: red;
  background: red;
}

.modal {
  height: 50vh;
  background-color: red;
  background: red;
  color: black;
}
.create-trip-words{
  margin-top: 20%;
}
#Ledyard::after{
  background-image: url("../img/ledyard.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.2;
}
#Mountaineering::after{
  background-image: url("../img/dmc.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.3;
}

#doc::after{
  background-image: url("../img/doc.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.2;
}

#cnt::after{
  background-image: url("../img/cnt.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.2;
}
#wiw::after{
  background-image: url("../img/wiw.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.3;
}
#Woodsmen::after{
  background-image: url("../img/woodsmen.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
}
#surf::after{
  background-image: url("../img/surf.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.2;
}
#dmbc::after{
  background-image: url("../img/dmbc.jpg");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 70%;
  height: 70%;
  z-index: 1;
  opacity: 0.2;
}
#wsc::after{
  background-image: url("../img/wsc.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: 0;
  width: 60%;
  height: 60%;
  z-index: 1;
  opacity: 0.2;
}
#create-trip{
  height:18.5rem;
  border-style: dashed;
  box-shadow: none;
  text-align: center;

}
