//
//
// .container {
//   display: flex;
//   flex-flow: column nowrap;
//   margin-top: 10px;
//   width: 98%;
// }

// h1 {
//   align-self: center;
// }
//
.field {
  // margin: 10px 0px;
  width: 650px;
  height: 69px;
  left: 392px;
  top: 264px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #939393;
  &.top-create-trip{
    margin: 0rem 0rem 2.5rem 0rem;
    &.leaders{
      margin: 0rem 0rem 3rem 0rem;
    }
  }
}

.radio-form-input{
  display: block;

}


label{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-left: 26px;
}

ul li .radio-button{
  display: block;
  position: absolute;
  border: 3px solid #939393;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  left: 1.5%;
  top: 61%;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
//
// .card-createTrip {
//   margin: 5% 15%;
//   background: #eaeaea;
//   border-radius: 10px;
//   padding: 20px;
//   color: black;
//   opacity: .95;
// }
//
// textarea.field {
//   height: 200px;
//   overflow: auto;
//   resize: none;
// }
//
// .post-button {
//   width: 200px;
//   font-size: 20px;
//   align-self: center;
// }

.my-row{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  justify-content: flex-start;
}

.left-column{
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 70px;
  flex: auto;
}

.right-column{
  margin-top: 50px;
  margin-left: 50px;
  flex: auto;
}

.column-headers{
  margin-left: 30px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
}

.column-adjust{
  margin-top: 40px;
}

.column-sub-headers{
  margin-left: 25%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;

}

.page-sub-headers{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  width: inherit;
  margin: 0px;
  display: block;

}
.page-header{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #000000;
  width: inherit;
  margin: 0px;
  margin-bottom: 25px;

}
