
.field {
  height: 3em;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #2c2f33;

  &.top-create-trip{
    margin: 0rem 0rem 3rem 0rem;
    &.leaders{
      margin: 0rem 3rem 2.5rem 0rem;
      &.pcard{
        width: 50%;
      }
    }
    &.pickupDropoff{
      width: 85%;
      height: 3em;
      margin: 0rem 3rem 2.5rem 0rem;
    }
    &.other_costs{
      width: 60%;
      display: inline-block;
      &.other_costs_num{
        width:20%;
      }
    }
  }
  &.trip-descrip-box{
    height: 200px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
}

.descrip-list{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.gearForm{
  margin-left: 0rem;
  display: -webkit-inline-box;
}
div.gear-content{
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 50%;
  height: 100%;
}
.create-trip-form-content{
  display: flex;
  flex-direction: column;
}

#date-picker{
  display: -webkit-inline-box;
}
input[type="date"]{
  width: 18.6rem;
  margin-right: 4rem;
}
input[type="time"]{
  margin-right: 4rem;
}

.add-gear-button{
  width: 50%;
  height: 3.5rem;
  border: 3px solid #0CA074;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 3rem;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;

color: #0CA074;
}
.gear-container{
  display: flex;
  &:focus{
    outline: none;
    border-color: #0CA074;
  }
}
input[type="text"]{
  &.gear-input{
    max-width: 13rem;
    margin-bottom: 1em;
    height: 2.5rem;
    // border-color: transparent;
    // flex: 1;
    // color: #474747;
    // border-style: solid;
  }
  &:focus{
    outline: none;
    border-color: #0CA074;
  }
}

.delete-gear-button {
	content: "X";
	display: inline-block;
  width: 1rem;
  height: 4rem;
	background-color: transparent;
	z-index:1;
	margin: auto;
	padding: 2px;
	text-align: center;
	color: #979797;
	font-weight: normal;
	font-size: 20px;
  border-color: transparent;
  border-width: 2px;
  border-left: 0px;
	cursor: pointer;
  &:focus{
    outline: none;
    border-color: transparent;
  }
}

#equipment-description{
  height: 100%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.see-vehic-cal{
  margin-top: -1.5rem;
  margin-bottom: 0rem;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #0CA074;
}

.checkbox-beginner input[type="checkbox"]{
    opacity: 0;
}

.checkbox-beginner label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox-beginner label::before,
.checkbox-beginner label::after {
    margin-top: .3rem;
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox-beginner label::before{
    height: 16px;
    width: 16px;
    border: 2px solid #0CA074;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox-beginner label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox-beginner input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox-beginner input[type="checkbox"]:checked + label::after {
    content: "";
}
.checkbox-beginner input[type="checkbox"]:checked + label::before{
    content: "";
    border: wpx solid #0CA074;
    background-color: #0CA074;
}

label{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  width: max-content;
}


ul li .radio-button{
  display: block;
  position: absolute;
  border: 3px solid #939393;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  left: 1.5%;
  top: 61%;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.my-row{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  flex-shrink: 0;
  min-height: 100%;
  justify-content: flex-start;
}

.left-column{
  background: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  padding-right: 0.5em;
  padding-top: 1em;
}

.side-bar-highlight{
  position: absolute;
  width: 7px;
  height: 2.5rem;
  left: .96rem;
  background: #0CA074;
  border-radius: 0px 5px 5px 0px
}

.right-column{
  margin-left: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  width: 70%;
  min-height: 100%;
}

.column-headers{

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 1rem 0rem 1rem 2rem;
  flex: 0 1 content;
}

.column-adjust{
  margin-top: 40px;
  display: flex;
  &p{
    flex: 0 1 auto;
  }
}

.column-sub-headers{
  margin-left: 25%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  flex: 0 1 auto;
}

.text-highlight{
  color: #24A680;
}

.page-sub-headers{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  width: inherit;
  margin: 0px;
  display: block;
  &.trip-date-header{
    margin-top: 1.5rem;
  }
  &.pcard{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
  }

}
.page-header{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #000000;
  width: inherit;
  margin: 0px;
  margin-bottom: 25px;
  &.date-loc-header{
    margin-bottom: 0px;
  }
}


.button-placement{
  display: flex;
  max-width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  &.correct{
    justify-content: flex-end;
  }
  &.pcard-page{
    max-width: 100%;
  }
}
.next-button{
  min-width: 8em;
  height: 4em;
  background: #0CA074;
  color: white;
  border-radius: 5px;
}
#prev-button{
  min-width: 8em;
  height: 4em;
  background: #0CA074;
  color: white;
  border-radius: 5px;
}


.email-copy-button{
  text-align: center;
  height: 30px;
  margin: 1%;
  margin-left:175px;
  width:150px;
  background: #0CA074;
  color: white;
  border-radius: 5px;
}


button:disabled,
button[disabled]{
  background-color: #EDECEC;
  color: #919191;
}

.gear-and-size{
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}
.gear-field{
  font-weight: 600;
  font-size: 1em;
  margin-right: 1em;
}
.gear-field-and-form{
  display: flex;
}
#size-type-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
}
.table td, .table thead th{
  border-color: #535658;
}
.create-trip-bottom-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createtrips-one-of-two{
  width: 50%;
}
.checkbox-beginner{
  display: flex;
}
.create-trip-form-page{
  min-height: 75vh;
}
.pcard-food-breakdown{
  display: flex;
  flex-direction: column;
}
.create-trips-top-margin{
  margin-top: 2em;
}
.create-trip-cancel-button{
  border-color: #EE6E52;
  color: #EE6E52;
}
.create-trip-pcard-add-other{
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 1.3em;
  color: #0CA074;
}
.create-trip-error{
  border: 2px solid #d8000c !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}