
.field {
  // margin: 10px 0px;
  width: 650px;
  height: 69px;
  left: 392px;
  top: 264px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #939393;
  &.top-create-trip{
    margin: 0rem 0rem 3rem 0rem;
    &.leaders{
      margin: 0rem 3rem 2.5rem 0rem;
    }
  }
  &.trip-descrip-box{
    width: 944px;
    height: 393px;
    left: 392px;
    top: 262px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
}

.descrip-list{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.gearForm{
  margin-left: 0rem;
  display: -webkit-inline-box;
}
#gear-content{
  margin-right: 10rem;
  width: 20rem;
  height: 3rem;
}

#date-picker{
  display: -webkit-inline-box;
}
input[type="date"]{
  width: 18.6rem;
  margin-right: 4rem;
}
input[type="time"]{
  width: 18.6rem;
  margin-right: 4rem;
}

.add-gear-button{
  width: 10rem;
  height: 3.5rem;
  border: 3px solid #0CA074;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 3rem;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;

color: #0CA074;
}
.gear-container{
  display: flex;
  &:focus{
    outline: none;
    border-color: #0CA074;
  }
}
input[type="text"]{
  &.gear-input{
    width: 27rem;
    height: 3rem;
    border-color: transparent;
    flex: 1;
    color: #979797;
    border-style: solid;
  }
  &:focus{
    outline: none;
    border-color: #0CA074;
  }
}

.delete-gear-button {
	content: "X";
	display: block;
  width: 27rem;
  height: 4rem;
	background-color: transparent;
	z-index:1;
	margin: auto;
	padding: 2px;
	text-align: center;
	color: #979797;
	font-weight: normal;
	font-size: 20px;
  border-color: transparent;
  border-width: 2px;
  border-left: 0px;
	cursor: pointer;
  &:focus{
    outline: none;
    border-color: transparent;
  }
}

#equipment-description{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.see-vehic-cal{
  margin-top: -1.5rem;
  margin-bottom: 0rem;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #0CA074;
}

.checkbox-beginner input[type="checkbox"]{
    opacity: 0;
}

.checkbox-beginner label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox-beginner label::before,
.checkbox-beginner label::after {
    margin-top: .3rem;
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox-beginner label::before{
    height: 16px;
    width: 16px;
    border: 2px solid #0CA074;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox-beginner label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox-beginner input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox-beginner input[type="checkbox"]:checked + label::after {
    content: "";
}
.checkbox-beginner input[type="checkbox"]:checked + label::before{
    content: "";
    border: wpx solid #0CA074;
    background-color: #0CA074;
}

label{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  width: max-content;
}

.my-row{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  height: 1000px;
  justify-content: flex-start;
}

.left-column{
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 70px;
  flex-direction: column;
  flex: 2 0 content;
  display: flex;
}

.side-bar-highlight{
  position: absolute;
  width: 7px;
  height: 3rem;
  left: .96rem;
  // top: 222px;
  background: #0CA074;
  border-radius: 0px 5px 5px 0px
}

.right-column{
  margin-top: 50px;
  margin-left: 50px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.column-headers{

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 1rem 0rem 1rem 2rem;
  flex: 0 1 auto;
}

.column-adjust{
  margin-top: 40px;
  display: flex;
  &p{
    flex: 0 1 auto;
  }
}

.column-sub-headers{
  margin-left: 25%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  flex: 0 1 auto;

}

.page-sub-headers{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #000000;
  width: inherit;
  margin: 0px;
  display: block;
  &.trip-date-header{
    margin-top: 2.0rem;
  }

}
.page-header{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #000000;
  width: inherit;
  margin: 0px;
  margin-bottom: 25px;
  &.date-loc-header{
    margin-bottom: 0px;
  }
}


.button-placement{
  position: absolute;
}
#next-button{
  position: absolute;
  width: 129px;
  height: 66px;
  left: 65rem;
  top: 53rem;
  background: #EDECEC;
  border-radius: 5px;
}

#prev-button{
  position: absolute;
  width: 129px;
  height: 66px;
  left: 23.5em;
  top: 53em;
  background: #EDECEC;
  border-radius: 5px;
}
