.container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px;
  width: 98%;
}

h1 {
  align-self: center;
}

.field {
  margin: 10px 0px;

  &.top {
    margin: 0px 0px 10px 0px;
  }
}

.card-createTrip {
  margin: 5% 15%;
  background: #eaeaea;
  border-radius: 10px;
  padding: 20px;
  color: black;
  opacity: .95;
}

textarea.field {
  height: 200px;
  overflow: auto;
  resize: none;
}

.post-button {
  width: 200px;
  font-size: 20px;
  align-self: center;
}
