html {
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', serif !important;
}

body {
  min-height: 100%;
  width: 100%;
  background: url(../img/doclandingpage.svg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  color: black;
  font-family: 'Nunito Sans', serif !important;
}

#landing-page{
  min-height: 100%;
  width: 100%;
  // background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.main1 {
  position: absolute;
  // bottom: 25%
  top: 25%;
  left: 25%;
  width: 752px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color:#FFFFFF;
  border-radius: 10px;
  // opacity: .95;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  .home-text {
    margin-top: 30px;
  }
}

.main1 h1{
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-size: 50px;
  font-weight: 800;
}

.main1 p{
  text-align: center;
  margin-top: 0px;
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2rem;
}

#doc-icon{
  position: absolute;
  left: 2.64%;
  right: 92.5%;
  top: 3%;
  bottom: 91.33%;
}
.two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-buttons button{
  border-radius: 8px;
  height: 50px;
  width: 143px;
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  &.log-in{
    border: 3px solid #0CA074;
    color: #0CA074;
    background: none;
  }
  &.sign-up{
    background: #0CA074;
    color: #FFFFFF;
  }
}

.two-buttons button:hover{
  border-radius: 8px;
  height: 50px;
  width: 143px;
  margin-right: 5px;
  margin-bottom: 30px;
  &.log-in{
    background: #0CA074;
    color: #FFFFFF;
  }
  &.sign-up{
    border: 3px solid #0CA074;
    color: #0CA074;
    background: none;
  }
}

.theBody{
  margin-top: 4.5rem;
  // padding-top: 1rem;
}
