html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background: #FAFAFA;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // color: white !important;
  font-family: 'Merriweather', serif !important;
}

.main1 {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #eaeaea;
  border-radius: 10px;
  opacity: .95;

  .home-text {
    margin-top: 30px;
  }
}

.main1 h1{
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
  color: black;
}

.main1 p{
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-top: 0px;
  color: black;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-buttons button{
  background: none;
  border-radius: 8px;
  border-width: 2px;
  border-color: white;
  color: black;
  height: 30px;
  width: 90px;
  margin-right: 5px;
  // justify-content: flex-end;
  margin-bottom: 30px;
}

.two-buttons button:hover{
  background: rgba(255,255,255,0.6);
  border-radius: 5px;
  border-color: white;
  color: black;
  height: 30px;
  width: 90px;
  margin-right: 5px;
  // justify-content: flex-end;
}
