html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url('../img/homepage-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Merriweather', serif;
}

.main1 {
  position: absolute;
  // height: 80%;
  top: 30%;
  left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}

.main1 h1{
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
}

.main1 p{
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-top: 0px;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-buttons button{
  background: none;
  border-radius: 8px;
  border-width: 2px;
  border-color: white;
  color: white;
  height: 30px;
  width: 90px;
  margin-right: 5px;
  // justify-content: flex-end;
  margin-bottom: 30px;
}

.two-buttons button:hover{
  background: rgba(255,255,255,0.6);
  border-radius: 5px;
  border-color: white;
  color: white;
  height: 30px;
  width: 90px;
  margin-right: 5px;
  // justify-content: flex-end;
}
