body {
  background-image: url('../img/homepage-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.two-buttons button{
  background: none;
  border-radius: 5px;
  border-color: white;
  color: white;
  height: 30px;
  width: 90px;
}
