div .myTrips {
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card {
  background: #ffffff;
  color: black;
  opacity: .95;

}

.card-title {
  color: black;
}

.margins {
  margin-bottom: 10px;
}

.mytrips-container{
  width: 95%;
  margin: 0 auto;
}
.mytrips-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2.5em;
}
.mytrips-sub-header{
  font-size: 1.875em;
  font-weight: 600;
}

.leading-trip {
  background: rgba(255,255,255,0.6);
}

.myTripsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mytrips-flex-start {
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
}
.mytrips-vehicle-req{
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
.mytrips-status-badge{
  margin-right: 1em;
}
.mytrips-req-header-and-status{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mytrips-req-header{
  width: 80%;
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#0CA074;
}
.mytrips-req-header:hover{
  color:#0CA074;
}
.mytrips-request-button{
  width: 13em;
  height: 3em;
  margin-right: 1em;
  background: #0CA074;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.mytrips-request-button:hover{
  text-decoration: none;
  color: #ffffff;
  background: rgb(26, 179, 133);
}
.mytrips-request-and-calendar-links{
  margin-top: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
.mytrips-calendar-link{
  color:#0CA074;
}
a.mytrips-calendar-link:hover{
  color:#0CA074;
}
.mytrips-trips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 10em;
}
.mytrips-vehicle-reqs{
  min-height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mytrips-help-text{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  color: #5f5f5f;
}
.mytrips-req-status{
  text-transform: capitalize;
}
