div .myTrips {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  background: #eaeaea;
  border-radius: 10px;
  padding: 20px;
  color: black;
  opacity: .95;
}

.card-title {
  color: black;
}

.card:hover {
  background: #cacaca;
}

.margins {
  margin-bottom: 10px;
}

.mytrips-header {
  margin-bottom: 10px;
}
