div .myTrips {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card {
  background: #eaeaea;
  border-radius: 10px;
  padding: 20px;
  color: black;
  opacity: .95;
}

.card-title {
  color: black;
}

.margins {
  margin-bottom: 10px;
}

.mytrips-header {
  margin-bottom: 10px;
}

.leading-trip {
  background: rgba(255,255,255,0.6);
}

.myTripsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
