.nav-link {
  color: white;

  &:hover {
    color: white;
  }

  &:link, &:visited {
    text-decoration: none;
  }
}

.Nav{
  color:white;
}

.error {
  position: fixed;
  width: 100%;
  z-index: 999;

}

.signout-btn {
  margin-left: auto;
}
.dropdown-toggle:hover .dropdown-menu {
  display: block;
}

.navbar-collapse{
  justify-content: flex-end;
  margin-right: 2rem;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.navbar-style{
  background-image: url(../img/smallerNavDes.svg);
  // background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-position: center;
  background-attachment: local;
  // background-size: cover;ß
}

@media only screen and (max-width: 800px) {
  .dropdown-toggle:hover .dropdown-menu {
    display: none;
  }
  .navbar-style{
    background-color: #1F8365;
    background-image: none;
    // background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: center;
    background-attachment: local;
    // background-size: cover;ß
  }

}
