.dashboard{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
}

.section{
  margin-top: 5rem;
}
.titles{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 0rem;
  margin-bottom: -.5rem;

}
