.pending-and-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trip-status{
  font-weight: 600;
  font-size: 2.5em;
}
#filter-dropdown{
  background: #FAFAFA;
  border: 2px solid #C4C4C4;
}
#filter-dropdown:focus{
  box-shadow: 0 0 0 0.15rem #0CA074;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-icon{
  width: 1.2em;
}
.right-margin{
  margin-right: 1.5em;
}
.dropdown-and-label{
  display: flex;
  align-items: center;
}
.dropdown-label{
  font-size: 1em;
  font-weight: 600;
  margin-right: 1em;
}
.current-filter{
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  color: #474747;
  margin-right: 4em;
  min-width: 60%;
}
.filter-options{
  width: 90%;
  margin-top: 0.3em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.dropdown-item:hover{
  background: rgba(6, 161, 114, 0.336)
}
.dropdown-item.active{
  background: #0CA074;
}
.pending-table{
  margin-top: 1em;
}
.table th{
  border-top: 0;
}
td{
  text-align: start;
}
td.pending{
  color: #ffc107;
}
td.approved{
  color: #28a745;
}
td.denied{
  color: #dc3545;
}
.calendar-link-div{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.calendar-link{
  color: #28a745;
}
.calendar-link:hover{
  color: #28a745;
}
.searchbox{
  background: #FAFAFA;
  border: 2px solid #C4C4C4;
  height: 3em;
  width: 20em;
  border-radius: 5px;
  padding: 0.5em;
}
input.searchbox:focus{
  outline: none;
  box-shadow: 0 0 0 0.15rem #0CA074;
}

