.ovr-container{
  width: 100%;
  height: 100%;
  display: flex;
}
.ovr-sidebar{
  background: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  // top: 0;
  overflow-x: hidden;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  padding-right: 0.5em;
  padding-top: 1em;
}
.ovr-sidebar-header{
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
}
.ovr-sidebar-subheader{
  margin-top: 2.5em;
  margin-left: 0.7em;
}
.ovr-sidebar-highlight{
  width: 0.43em;
  height: 2.5em;
  background: #0CA074;
  border-radius: 0px 5px 5px 0px;
}
.ovr-sidebar-req-sections{
  margin-top: 1em;
}
.ovr-sidebar-req-section{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  min-height: 2.5em;
}
.ovr-req-section-link{
  margin-left: 1.43em;
  color: #24A680;
  font-size: 1.1em;
}
.ovr-selected-link{
  margin-left: 1em;
}
.ovr-req-section-link:hover{
  color: #24A680;
}
.ovr-req-content{
  margin-left: 20%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  width: 80%;
  height: 100%;
}
.ovr-req-content-header{
  margin-bottom: 3em;
  padding-left: 1em;
}
.ovr-white-background{
  background: white;
}
.ovr-req-detail{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.1em;
  text-align: justify;
}
.ovr-req-labels{
  min-width: 33%;
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}
.ovr-req-vehicle-details, .ovr-req-assignment{
  display: flex;
  flex-direction: column;
  min-width: 25%;
  margin-right: 1em;
}
.ovr-request-and-assignment{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.ovr-req-row{
  height: 2.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  line-height: normal;
}
.ovr-req-label{
  justify-content: flex-end;
  text-align: end;
}
.ovr-req-vehicle-detail{
  height: 3.3em;
  justify-content: flex-start;
  padding-left: 1em;
}
.ovr-column-header{
  height: 2.5em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  word-break: break-word;
  text-align: center;
}
.ovr-header-filler{
  visibility: hidden;
}
.ovr-bottom-button-and-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
.ovr-current-vehicle{
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  color: #474747;
  margin-right: 1.5em;
  min-width: 60%;
}
#ovr-vehicle-dropdown{
  background: #FFFFFF;
  border: 0px solid #C4C4C4;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ovr-vehicle-dropdown:focus{
  box-shadow: 0 0 0 0.15rem #0CA074;
}
input.ovr-date-input{
  margin-right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.ovr-bottom-link{
  margin-bottom: 0;
}
.ovr-contact-link{
  color: #28a745;
}
.ovr-status-badge{
  max-width: 100%;
  margin-left: 0;
}
.ovr-modal-button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.ovr-requester-email{
  border: 0;
  font-weight: 800;
}
.ovr-vehicle-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ovr-vehicle-option-type{
  margin-left: 1.5em;
  color: #C4C4C4;
  font-size: 0.8em;
}
.ovr-vehicle-options{
  width: unset;
}
.ovr-skip-vehicle-button{
  display: flex;
  justify-content: center;
}
.ovr-skipped-detail{
  color: #C4C4C4;
  font-style: italic;
  letter-spacing: 0.1em;
}
.ovr-display-flex{
  display: flex;
}