.profile-header {
  color: black;
  font-size: 40px;
}

.club-select {
  margin-bottom: 10px;
}

.profile-field {
  color: black;
  margin-bottom: 20px;

  .card-title {
    font-size: 24px;
    text-decoration: underline;
  }
}

.card-body > button {
  margin-right: 10px;
}
