.background{
  width: 100%;
  min-height: 100vh;
  background: rgba(240, 239, 239, 0.74);
}
.my-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.profile-page-header{
  margin-top: 2.25em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logout-button{
  color: #0CA074;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.logout-button:hover{
  color: rgb(24, 211, 108);
}
.cancel-changes{
  color: #EE6E52;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.cancel-changes:hover{
  text-decoration: underline;
}
.pending-changes{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  letter-spacing: 0.05em;
  color: #0CA074;
  font-size: 1em;
}

.header{
  margin-bottom: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  color: #000000;
}
.line{
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.profile{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  min-height: 29em;
}

.size{
  width: 1135.72;
  height: 348.05;
}
.profile-pic-container{
  width: 30%;
  display: flex;
}
.profile-pic{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  margin-top: 2.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  background: #D6D6D6;
}
.profile-card-body{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.profile-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-card-info{
  margin-top: 1em;
}
.profile-card-row{
  display: flex;
  justify-content: space-between;
}

.card-name{
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #000000;
}

.card-email{
  font-family: 'Nunito Sans', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #000000;
}

.card-headings{
  font-family: 'Nunito Sans', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7rem;
  letter-spacing: 0.05em;
  color: #939393;
  flex: 0 1 auto;
}

.card-info, .leader-option{
  font-family: 'Nunito Sans', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7rem;
  letter-spacing: 0.05em;
  text-align: right;
  color: #939393;
  flex: 0 1 auto;
}

input.my-form-control{
  background: #FAFAFA;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 0.2em;
}
.name-input{
  height: 1.5em;
  margin-bottom: 0.3em;
}
.edit-button{
  transition: transform .2s;
}

.edit-button:hover{
  transform: scale(1.3);
}