.background{
  width: 100%;
  min-height: 100vh;
  background: rgba(240, 239, 239, 0.74);
}
.my-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.profile-page-header{
  margin-top: 2.25em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logout-button{
  color: #0CA074;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.logout-button:hover{
  color: rgb(24, 211, 108);
}
.cancel-changes{
  color: #EE6E52;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.cancel-changes:hover{
  text-decoration: underline;
}
.pending-changes{
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5em;
  letter-spacing: 0.05em;
  color: #0CA074;
  font-size: 1em;
}

.header{
  margin-bottom: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  color: #000000;
}
.line{
  margin-top: .7rem;
  margin-bottom: .7rem;
}

.profile{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1em;
}

.size{
  width: 1135.72;
  height: 348.05;
}
.profile-pic-container{
  width: 25%;
  display: flex;
}
.profile-pic{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  margin-top: 2.5em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  background: #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-initials{
  font-size: 7em;
  color: gray;
}
.profile-card-body{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 1em;
  margin-right: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.profile-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-card-info{
  margin-top: 1em;
}
.profile-card-row{
  display: flex;
  justify-content: space-between;
}

.card-name{
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #000000;
}

.card-email{
  font-family: 'Nunito Sans', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #000000;
}

.card-headings{
  font-family: 'Nunito Sans', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7rem;
  letter-spacing: 0.05em;
  color: #939393;
  flex: 0 1 auto;
}

.card-info, .leader-option{
  font-family: 'Nunito Sans', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.7rem;
  letter-spacing: 0.05em;
  text-align: right;
  color: #939393;
  flex: 0 1 auto;
}
.extra-info{
  display: flex;
  flex-direction: column;
  max-width: 14em;
}
.extra-info-message{
  font-size: 0.7em;
  text-align: start;
}
.feedback{
  font-size: 0.75em;
  text-align: center;
  border-radius: 10px;
  background-color: #ffae42;
  width: 18em;
  color: #4a4a4a;
  line-height: 1.5rem;
  font-weight: 400;
  margin-right: 1em;
  margin-top: 0.5em;
  height: 0;
  overflow: hidden;
  transition: height .2s ease;
}
.show-feedback{
  padding: 0.5em;
  border: 1px solid #C4C4C4;
  height: 4em;
}

input.my-form-control{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 0.2em;
}
.my-form-control:focus{
  outline: none;
  box-shadow: 0 0 0 0.15rem #0CA074;
}
.name-input{
  height: 1.5em;
  margin-bottom: 0.3em;
}
.edit-button{
  transition: transform .2s;
}

.edit-button:hover{
  transform: scale(1.3);
}
#leader-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  min-width: 14em;
}
#leader-dropdown:focus{
  box-shadow: 0 0 0 0.15rem #0CA074;
}
#driver-cert-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  min-width: 14em;
}
#clothe-size-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
}
.selected-size{
  color: #474747;
  margin-right: 2em;
  min-width: 2em;
}
.clothe-options{
  left: -4.5em;
}
#driver-cert-dropdown:focus{
  box-shadow: 0 0 0 0.15rem #0CA074;
}
.filter-options{
  width: 90%;
  margin-top: 0.3em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.dropdown-item.club-option:hover{
  background: #FFFFFF;
}
.club-option{
  display: flex;
  align-items: center;
  padding: 0.3em;
}
.club-checkbox{
  margin-left: 0.5em;
}
.radio-button{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #939393;
  border-radius: 50%;
}
.checkbox-container:hover input ~ .radio-button {
  background-color: rgba(182, 236, 175, 0.658);
}
.checkbox-container input:checked ~ .radio-button {
  background-color: white;
  border: 1px solid #0CA074;
}
.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .radio-button:after {
  display: block;
}
.checkbox-container .radio-button:after {
  left: 4px;
  top: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0CA074;
}
@media only screen and (max-width: 980px) {
  .profile{
    flex-direction: column;
  }
  .profile-pic-container{
    width: 100%;
    justify-content: center;
  }
  .profile-card-body{
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 0;
    margin-right: 0;
  }
}