.main-signup{
  position: absolute;
  height: 30%;
  top: 30%;
  left: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 10px;
}

.input-fields {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  margin-bottom: 5px;
}

.input-styling {
  font-family: 'Merriweather', serif;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  padding-left: 5px;
}

.button-styling {
  font-family: 'Merriweather', serif;
  background: none;
  border-radius: 8px;
  border-width: 2px;
  border-color: white;
  color: white;
  height: 30px;
  width: 90px;
  margin-right: 5px;
}

#email-input {
  margin-bottom: 5px;
}
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-buttons button{
  font-family: 'Merriweather', serif;
  background: none;
  border-radius: 8px;
  border-width: 2px;
  border-color: white;
  color: white;
  height: 30px;
  width: 90px;
  margin-right: 5px;
}

.form-buttons button:hover{
  background: rgba(255,255,255,0.6);
  border-radius: 5px;
  border-color: white;
  color: white;
  height: 30px;
  width: 90px;
  margin-right: 5px;
}
