.main-signup{
  position: absolute;
  top: 25%;
  left: 35%;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color:#FFFFFF;
  border-radius: 10px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
}

.input-fields {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  width:77%;
  margin-bottom: 5px;
}

.input-styling {
  margin-bottom: 5px;
  border-radius: 5px;
  border: 3px solid #0CA074;
  padding-left: 5px;
  justify-content: center;
  margin-left: 25%;
  height: 25%;
  width:77%;
}

.button-styling {
  margin-right: 5px;
  border-radius: 8px;
  height: 50px;
  width: 143px;
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  border: 3px solid #0CA074;
  color: #0CA074;
}

// #email-input {
//   margin-bottom: 5px;
//   justify-content: center;
//   // height: 30%;
//   // width:75%;
// }
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.form-buttons button{
  // font-family: 'Merriweather', serif;
  // background: none;
  // border-radius: 8px;
  // border-width: 2px;
  // color: black;
  // height: 30px;
  // width: 90px;
  // margin-right: 5px;
  margin-right: 5px;
  border-radius: 8px;
  height: 50px;
  width: 143px;
  margin-right: 5px;
  margin-bottom: 30px;
  font-size: 20px;
  border: 3px solid #0CA074;
  color: #0CA074;
}

.form-buttons button:hover{
  color: white;
  background-color: #0CA074;
  height: 50px;
  width: 143px;
}
