

.trip-title{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 3rem 0rem 1rem 2rem;
}

.page-title{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-left: 3.8rem;
  margin-bottom: 4rem;
}

.sub-titles{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-left: 5rem;
  margin-bottom: 1rem;
  width: 15rem;
}

.sub-fields{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 1rem;
  }

#description{
  margin-top: 3.5rem;
}

#description-field{
  margin-left: 5rem;
}
.pcard-opo{
  width:100%;
  margin: 5%;
  text-align: center;
}
.pcard-assign-input{
  height: 40px;
  left: 392px;
  top: 264px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #939393;
  width:75%;
}
.pcard-assign{
  text-align: left;
  width:50%;
  margin-top: 5%;

}

@media all and (max-width: 800px) {
  .sub-fields {
   margin: 5rem;
  }
}
