.page{
  font-family: Nunito Sans;
  font-style: normal;
  color: #000000;
}

.trip-title{
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
  margin: 3rem 0rem 1rem 2rem;
  &.page-headings{
    margin: 3rem 0rem 2rem 0rem;
  }
}

.page-title{
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.05em;
  margin-left: 0rem;
  margin-bottom: 4rem;
}

.sub-titles{
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 1rem;
  margin-right: 1em;
  &.gear-titles{
    margin-left: 0rem;
  }
}

.sub-fields{
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 1rem;
  }

#description{
  margin-top: 3.5rem;
}

.description-field{
  margin-left: 5rem;
  margin-top: 1em;
}
.pcard-assign-input{
  height: 35%;
  padding: 0.5em;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
}
.pcard-assign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  margin-left: 1em;
}

.gear-requests{
  width: 50%;
  &.group{
    width: 25%;
  }
  &.individual{
    margin-right: 15%;
  }
}

.next-buttons{
  width: 129px;
  height: 66px;
  background: #0CA074;
  color: white;
  border-radius: 5px;
}

#prev-buttons{
  width: 129px;
  height: 66px;
  background: #0CA074;
  color: white;
  border-radius: 5px;
}
.theButtons{
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  &.nextOnly{
    justify-content: flex-end;
  }
}

.approve-buttons{
  width: 16rem;
  height: 3rem;
  border-radius: 5px;
  background: #0CA074;
  color: white;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  font-family: Nunito Sans;
  font-weight: 600;
}

.deny-buttons{
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color: #EE6E52;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.side-links{
  display: flex;
  white-space: normal;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  transition: transform .2s;
}
.side-links:hover{
  transform: scale(1.1);
}

.pcard-bottom-buttons{
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}
.otd-side-bar-highlight{
  width: 0.5em;
  height: 2.5rem;
  background: #0CA074;
  border-radius: 0px 5px 5px 0px;
}
.ovr-sidebar-req-section.otd-sb-req-section{
  justify-content: flex-start;
  flex-wrap: wrap;
}
.otd-text-highlight{
  font-weight: 700;
}
.otd-req-content{
  min-height: 75vh;
}
.otd-title-container{
  min-height: 15vh;
}
.otd-trip-details{
  margin-top: 5vh;
  display: flex;
}
.otd-title-size{
  font-size: 3em;
}
.otd-basic-info{
  padding-left: 1em;
  padding-right: 1em;
}
.otd-row{
  margin-bottom: 2em;
}
.otd-details-column{
  margin-left: 4em;
}
.otd-trip-description{
  margin-top: 5vh;
}
.otd-group-gear-table{
  margin-top: 1em;
}
.otd-both-gear{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.otd-group-gear{
  width: 40%;
  margin-right: 2em;
}
.otd-individual-gear{
  width: 60%;
  margin-left: 2em;
}
.otd-req-status{
  text-transform: capitalize;
}
.otd-response-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otd-approve-gear-button{
  margin-bottom: 1em;
}
.otd-disabled-button{
  pointer-events: none;
}
.otd-disabled-link{
  pointer-events: none;
  color: #939393;
}
.otd-pcard-top-part{
  display: flex;
}
.otd-pcard-numPeople{
  width: 80%;
  margin-right: 1em;
}
.otd-pcard-assign-label{
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1.2em; 
}
.otd-pcard-total{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
  font-weight: 700;
  padding-right: 1em;
}
.otd-pcard-response-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.otd-approve-pcard-button{
  margin-left: 1.5em;
}

@media all and (max-width: 1020px) {
  .individual {
    margin-right: 0rem;
  }
  .otd-both-gear{
    flex-direction: column;
  }
  .otd-group-gear{
    width: 100%;
    margin-bottom: 1em;
  }
  .otd-individual-gear{
    width: 100%;
    margin-bottom: 1em;
  }
  div.ovr-sidebar{
    display: none;
  }
  div.ovr-req-content{
    margin: 0 auto;
  }
  .ovr-bottom-button-and-link{
    flex-direction: column;
  }
  span.ovr-contact-link{
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media all and (min-width: 1300px){
  img.assigned-badge{
    display: unset;
  }
}
