.vehicle-calendar-container{
  width: 95%;
  margin: 0 auto;
}
.vcc-container{
  height: 100%;
  background: white;
}
.weekView-top-padding {
  padding-top: 4em;
}
.weekview-container{
  display: flex;
}
.vehicle-name{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.5em;
  margin-right: 0.5em;
  word-break: break-word;
  font-size: 1em;
  font-weight: 700;
  color: #3AA988;
}
.timegrid-latch{
  width: 95%;
}
.rbc-toolbar-label{
  font-size: 1.2em;
  font-weight: 700;
}
.rbc-event-label{
  display: none;
}
.booking-container{
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  height: 100%;
}
.rbc-event{
  background: white;
  border: 2px solid #3AA988 !important;
}
.booking-reason{
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.3em;
  height: 50%;
}
.booking-mini-details{
  display: flex;
  white-space: nowrap;
  font-size: 0.9em;
  height: 50%;
  align-items: center;
}
.booking-time{
  font-size: 0.8em;
}
.booking-dot{
  padding-bottom: 0.5em;
  margin-left: 0.03em;
  margin-right: 0.03em;
  font-size: 2.2em;
}
.booking-pickedUp, .booking-returned{
  font-weight: 700;
}
.booking-tooltip{
  display: none;
  z-index: 1;
}
.hoverable-booking:hover .booking-tooltip{
  display: unset;
  z-index: 1;
  position: absolute;
  top: 50%;
}
.hoverable-booking:hover .booking-mini-details{
  display: none;
}
.booking-status-container{
  display: flex;
  align-items: center;
}