.vehicle-calendar-container{
  width: 95%;
  margin: 0 auto;
}
.vcc-container{
  height: 100%;
  background: white;
}
.weekView-top-padding {
  padding-top: 4em;
}
.weekview-container{
  display: flex;
}
.vehicle-name{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.5em;
  margin-right: 0.5em;
  word-break: break-word;
  font-size: 1em;
  font-weight: 700;
  color: #3AA988;
}
.timegrid-latch{
  width: 95%;
}
.rbc-toolbar-label{
  font-size: 1.2em;
  font-weight: 700;
}