@import './base.scss';

.weekView-top-padding {
  padding-top: 4em;
}
.weekview-container{
  display: flex;
}
.vehicle-name{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.5em;
  margin-right: 0.5em;
  word-break: break-word;
  font-size: 1em;
  font-weight: 700;
  color: $green;
}
.timegrid-latch{
  width: 95%;
}

.rbc-event{
  padding: 0;
  // background: white;
  // border: 2px solid $green !important;
}

.vcm-container{
  padding: 1em;
}
.vcm-row{
  margin-bottom: 1em;
}
.vcm-detail-left{
  font-weight: 600;
}
.vcm-description-label{
  font-size: 1.4em;
}
.vcm-title{
  font-size: 2em;
}
.vcm-trip-details{
  display: flex;
  margin-top: 1em;
}
.vcm-trip-description{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.vcm-assignment-info{
  display: flex;
  justify-content: space-between;
}
.vcm-assignment-detail{
  display:flex;
  flex-direction: column;
}
.vcm-line{
  border-top: 4px;
}