@import './base.scss';

.weekView-top-padding {
  padding-top: 4em;
}
.weekview-container{
  display: flex;
}
.vehicle-name{
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.5em;
  margin-right: 0.5em;
  word-break: break-word;
  font-size: 1em;
  font-weight: 700;
  color: $green;
}
.timegrid-latch{
  width: 95%;
}
.rbc-toolbar-label{
  font-size: 1.2em;
  font-weight: 700;
}
.rbc-event-label{
  display: none;
}
.booking-container{
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid $green !important;
  color: black;
  height: 100%;
  &.conflict {
    background: $error-red-light;
    border: 2px solid $error-red-deep !important;
  }

  &.hoverable-booking:hover .booking-tooltip{
    display: unset;
    z-index: 1;
    position: absolute;
    top: 50%;
  }
  &.hoverable-booking:hover .booking-mini-details{
    display: none;
  }

  .booking-time{
    font-size: 0.8em;
  }

  .booking-reason{
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.3em;
    height: 50%;
  }

  .booking-mini-details{
    display: flex;
    white-space: nowrap;
    font-size: 0.9em;
    height: 50%;
    align-items: center;

    .booking-status-container{
      display: flex;
      align-items: center;
    
      .booking-dot{
        padding-bottom: 0.5em;
        margin-left: 0.03em;
        margin-right: 0.03em;
        font-size: 2.2em;
      }
      .booking-pickedUp, .booking-returned{
        font-weight: 700;
      }
    }
  }
  .booking-tooltip{
    display: none;
    z-index: 1;
  }
}
.rbc-event{
  padding: 0;
  // background: white;
  // border: 2px solid $green !important;
}

.vcm-container{
  padding: 1em;
}
.vcm-row{
  margin-bottom: 1em;
}
.vcm-detail-left{
  font-weight: 600;
}
.vcm-description-label{
  font-size: 1.4em;
}
.vcm-title{
  font-size: 2em;
}
.vcm-trip-details{
  display: flex;
  margin-top: 1em;
}
.vcm-trip-description{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.vcm-assignment-info{
  display: flex;
  justify-content: space-between;
}
.vcm-assignment-detail{
  display:flex;
  flex-direction: column;
}
.vcm-line{
  border-top: 4px;
}