.vrf-container{
  display: flex;
  flex-direction: column;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
.vrf-title-container{
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vrf-title-size{
  font-size: 2em;
}
.vrf-req-status-display{
  margin-left: 0.3em;
  margin-right: 0.4em;
  font-size: 1.4em
}
.vrf-cancel-and-update-buttons{
  display: flex;
  align-items: center;
}
.vrf-cancel-update-button{
  margin-right: 2em;
}
.vrf-form-row{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.vrf-label{
  font-weight: 600;
  font-size: 1.3em;
  line-height: 2em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
textarea.vrf-req-details-input{
  height: 6em;
  width: 60%;
  margin-bottom: 1em;
}
.vrf-req-group{
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 2px dashed #b8b6b6;
}
.vrf-req-header{
  display: flex;
  justify-content: space-between;
}
.vrf-req-no{
  font-size: 1.75em;
}
.vrf-req-options{
  margin-top: 0.3em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.vehicle-type-dropdown{
  background-color: #FFFFFF !important;
  border: 2px solid #C4C4C4 !important; // I tried
}
input.vrf-vehicle-detail{
  width: 60%;
  margin-bottom: 0;
}
input.vrf-single-day-date{
  width: 30%;
}
.vrf-radio-row{
  display: flex;
  align-items: center;
}
.vrf-trip-length{
  font-weight: 400;
  font-size: 1.2em;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('/src/img/date-picker-calendar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 2em;
  height: 2em;
}
.vrf-req-dates{
  flex-direction: row;
  justify-content: space-between;
}
.vrf-req-date{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.no-date{
  color: #C4C4C4 !important;
}
.vrf-add-and-submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1.2em;
}
.vrf-add-button{
  width: 10em;
  border-radius: 0.3em;
  height: 2.5em;
  background: none;
  border: 2px solid #0CA074;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  color: #0CA074;
}
.vrf-add-button:hover{
  color: #FFFFFF;
  background: rgba(12, 160, 116, 0.801);
}
.vrf-cancel-button{
  border: 2px solid #d8000c;
  color: #d8000c;
}
.vrf-cancel-button:hover{
  color: #FFFFFF;
  background: #c7020cb0;
}
.vrf-req-details-display{
  font-size: 1.4em;
}
button.vrf-submit-button{
  width: 14em;
  min-height: 3.5em;
}
.vrf-error{
  border: 2px solid #d8000c !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.vrf-req-status-display{
  text-transform: capitalize;
}
.vrf-requested-vehicles{
  width: 50%;
}
.vrf-req-and-assignment{
  display: flex;
}
.vrf-skipped-assignment{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #939393;
  font-size: 1.4em;
}
button.disabled-cancel-button{
  border: 2px solid #939393;
  color: #939393;
}
button.disabled-cancel-button:hover{
  border: 2px solid #939393;
  color: #939393;
  background: none;
}


@media only screen and (max-width: 640px) {
  textarea.vrf-req-details-input, input.vrf-vehicle-detail{
    width: 100%;
  }
  .vrf-req-dates{
    flex-direction: column;
  }
  .vrf-req-date{
    width: 70%;
  }
  .vrf-add-and-submit{
    flex-direction: column;
  }
  .vrf-small-cancel, .vrf-small-add{
    margin-bottom: 1em;
  }
  .vrf-cancel-and-update-buttons{
    flex-direction: column;
  }
  .vrf-cancel-update-button{
    margin-right: 0;
    margin-bottom: 1em;
  }
  .vrf-req-and-assignment{
    flex-direction: column;
  }
  .vrf-requested-vehicles{
    width: 100%;
  }
}