@import '../../styles/base.scss';

#landing-page-background {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(./background-no-brand.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  overflow-y: scroll;

  &.onboarding {
    background-image: url(./gateway-phone-no-brand.svg) !important;
  }
  
  .gateway-trips-list {
    position: relative;
    top: 0;
    right: calc(300px);

    @media only screen and (max-width: 1200px) { // [600px] trip list [500px] signin card, [100px] buffer
      .gateway-trips-list {
        display: none;
      }
    }
  }

  .landing-card {
    position: fixed;
    top: 100px;
    right: calc(50vw - 600px);
  }

}

#doc-icon {
  position: absolute;
  left: 2.64%;
  right: 92.5%;
  top: 3%;
  bottom: 91.33%;
}
