@import '../../styles/base.scss';

#trip-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 50px 50px 50px;

  > * {
    margin-bottom: 25px;
  }

  #trip-modal-title {

  }

  #trip-modal-tags {
    display: flex;

    #trip-modal-club {
      width: fit-content;
      padding: 0 0.5em;
      background-color: rgb(229, 205, 190);
      border-style: solid;
      border-color: rgb(229, 205, 190);
      border-radius: 5px;
    }
  
    #trip-modal-statuses {
      margin-left: 40px;
      height: 30px;
    }
  }

  .trip-modal-details {
    width: 100%;
    border: 2px solid $inactive-text;
    border-radius: 5px;
    padding: 1em;

    hr {
      margin: 0.5em 0;
    }

    .trip-modal-details-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .trip-modal-details-left {
        font-weight: 800;
  
      }
      .trip-modal-details-right {
        color: $gray-2;
      }
    }
  }
}