@import '../../styles/base.scss';

#trip-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 50px 50px 50px;

  > * {
    margin-bottom: 25px;
  }

  :last-child {
    margin-bottom: 0;
  }

  #trip-modal-number {
    font-size: 24px;
    color: $gray-text;
    margin-bottom: 10px;
  }

  #trip-modal-tags {
    width: 100%;
    display: flex;

    #trip-modal-club {
      width: fit-content;
      padding: 0 0.5em;
      background-color: rgb(229, 205, 190);
      border-style: solid;
      border-color: rgb(229, 205, 190);
      border-radius: 5px;
    }
  
    #trip-modal-statuses {
      margin-left: 40px;
      height: 30px;
    }

    #trip-modal-switch {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
  
      .trip-modal-switch-option {
        color: $inactive-text;
        font-weight: 100;
        margin-left: 15px;
        cursor: pointer;

        &.active {
          color: $green;
          font-weight: 800;
        }
      }
    }
  }

  .trip-modal-details {
    width: 100%;
    border: 2px solid $inactive-text;
    border-radius: 5px;
    padding: 1em;

    hr {
      margin: 0.5em 0;
    }

    .trip-modal-details-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .trip-modal-details-left {
        font-weight: 800;
  
      }
      .trip-modal-details-right {
        color: $gray-2;
      }
    }
  }

  .trip-modal-actions {
    width: 100%;
    display: flex;
    justify-content: center;

    .doc-button {
      margin: 0 10px;
    }
  }
}