#trip-request-gear-form {
  position: relative;

  #trip-request-gear-form-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.15);
  }

  .trip-modal-details-right {
    height: 100%;
    display: flex;
    align-items: center;

    .p2 {
      margin-right: 1em;
    }
  }
}