@import '../../styles/base.scss';

#dashboard {

  #dashboard-tiles {
    overflow-x: scroll;
    width: 100%;
    min-width: 1px;

        /* Hide scrollbar for Chrome, Safari and Opera */
    .example::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE and Edge */
    .example {
      -ms-overflow-style: none;
    }
  
    .section {
      
      &:hover {
        filter: brightness(1.2);
      }

      &.current-section {

        .doc-badge {
          // width: 48px;
        }

        .titles {
          // font-size: 36px;
          color: $green;
        }
      }

      .titles {
        white-space: nowrap;
      }
    }
  }

  #dashboard-content {
  }
}




