@import '../../styles/base.scss';

#dashboard {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  #dashboard-tiles {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;
  
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &:hover {
        filter: brightness(1.2);
      }
    
      .titles {
        color: black;
        :hover {
          text-decoration: none;
        }
      }
    }
  }
}




