@import '../../styles/base.scss';

#dashboard {

  #dashboard-tiles {
    overflow-x: scroll;
    width: 100%;
    min-width: 1px;
  
    .section {
      
      &:hover {
        filter: brightness(1.2);
      }

      &.current-section {

        .doc-badge {
          // width: 48px;
        }

        .titles {
          // font-size: 36px;
          color: $green;
        }
      }

      .titles {
        white-space: nowrap;
      }
    }
  }

  #dashboard-content {
  }
}




