@import '../../styles/base.scss';

#fleet-management-page {
  display: flex;
  flex-direction: column;

  .h1 {
    margin: 50px 0;
  }

  #fleet-management {
    display: flex;

    #fleet {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin-right: 100px;
  
      #fleet-management-book-col {
        min-width: 400px;
      }
    }
    
    #management {
      .doc-button {
        align-self: center;
      }
    }
  }
}
