@import '../../styles/base.scss';

.nav-bar {
  background-image: url(./nav-background.svg);
  background-origin: border-box;
  background-clip: border-box;
  background-position: center;
  background-attachment: local;
  display: flex;
  justify-content: flex-end;
  box-shadow: $menu-shadow;

  .nav-link {
    display: flex;
    align-items: center;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: white;
    height: 64px;
    margin-right: 30px;
    padding: 0;
  
    &:hover {
      border-bottom: 3px solid white;
    }

    &.current {
      border-bottom: 3px solid white;
    }
  }
  // necessary because we use both react-router NavLink as well as react-boostrap NavDropDown
  .current-bootstrap-wrapper {
    & a {
      border-bottom: 3px solid white;
    }
  }
}

.error {
  position: fixed;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: 800px) {
  .dropdown-toggle:hover .dropdown-menu {
    display: none;
  }
  .navbar-style{
    background-color: #1F8365;
    background-image: none;
    background-origin: border-box;
    background-clip: border-box;
    background-position: center;
    background-attachment: local;
  }

}
