.card-trip {
  margin-right: 10px;
  text-align: left;

  a {
    color: black;

    &:link, &:visited, &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: black;
  }


  p {
    color: black;
  }
}
.create-trip-link{
  color: rgb(131, 131, 131);
  &:hover{
    color: rgb(131, 131, 131);
  }
  &:link, &:visited {
    text-decoration: none;
  }
}


.tile-box {
  text-align: center;
  padding-left: 5%;
}

.all-trips-header {
  margin-bottom: 10px;
  color:black;
}

.box {
  text-align: left;
  width:100%;
}

.card {
  width: 18rem;
  margin: 1rem;
  display:inline-block;
}

.card-title{
  font-size: 14pt;
  font-weight:bold;
}
.all-trips-select {
  display: inline-block;
  width:15%;
  color:rgb(75, 157, 119);
  background: url(../../img/dropdownarrow.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  margin-right: 1rem;

}
.all-trips-date-select{
  display: inline-block;
  width:20%;
  color:rgb(75, 157, 119);
  background: none;

}
.card-body{
  box-sizing: content-box;
  padding:5%;
  text-align: left;
  height:300px;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  position: relative;
  background: white;
  overflow: hidden;

}
.all-trips-dropdown-bar{
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}
.all-trips-dropdown-header{
  display:inline-block;
  width:fit-content;
  margin-right:1.5%;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
}

.card-club{
  width:fit-content;
  font-size: 10pt;
  background-color: rgb(229, 205, 190);
  border-style: solid;
  border-color: rgb(229, 205, 190);
  border-radius: 5px;
}
.calendar-container {
  margin-top: 2vh;
  height: 90vh;
  background-color: red;
  background: red;
}
.create-trip-words{
  margin-top:20%;
  font-size: 16pt;
  color: gray !important;
}


.content{
  padding:1%;
  text-align: center;
}
.detail-right{
  text-align:right;
}

.trip-details-modal{
  width: 40%;
  min-width:350px;
  height:75%;
  background-color: white;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  float: right;
  right:0;
  margin-right: 2%;
  margin-top:1%;

}
.trip-tiles{
  float:left;
  }

#signup-button{
  border-color:  rgb(75, 157, 119);
  background-color:  rgb(75, 157, 119);

}
.button-container{
  text-align: center;
  padding:5%;
}
.link{
  background-color: rgb(75, 157, 119);
  color:white;
}
#Ledyard::after{
  background-image: url("../../img/ledyard.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 58%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#Mountaineering::after{
  background-image: url("../../img/dmc.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 46%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.4;
  bottom: -3%;
}

#doc::after{
  background-image: url("../../img/doc.gif");
  background-size: 100%;
  content: ' ';
  display: block;
  position: absolute;
  left: 42%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}

#cnt::after{
  background-image: url("../../img/cnt.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#wiw::after{
  background-image: url("../../img/wiw.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.5;
  bottom: 0;
}
#Woodsmen::after{
  background-image: url("../../img/woodsmen.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 42%;
  width: 60%;
  height: 90%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#surf::after{
  background-image: url("../../img/surf.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 43%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: -1%;
}
#dmbc::after{
  background-image: url("../../img/dmbc.jpg");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 70%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#wsc::after{
  background-image: url("../../img/wsc.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#create-trip{
  height:18.5rem;
  border-style: dashed;
  border-color: gray;
  box-shadow: none;
  text-align: center;
}
#tiles-modal-open{
  width: 50%;
}
#tiles-modal-closed{
  width:100%;
}
