@import '../../styles/base.scss';

$trip-card-padding: 15px;

.trip-card {
  width: $trip-card-width;
  min-width: $trip-card-width;
  height: 330px;
  position: relative;
  background: white;
  box-shadow: $menu-shadow;
  border-radius: 10px;

  &:hover {
    filter: brightness(90%);
    cursor: pointer;
  }

  .trip-card-badge-holder {
    position: absolute;
    z-index: 2; // on top of the decal
    bottom: $trip-card-padding;
    right: $trip-card-padding;
    width: 40px;
    height: 40px;
  }

  .trip-card-decal {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: auto;
    opacity: 0.1;
  }

  .trip-card-body {
    height: 100%;
    padding: $trip-card-padding;
    // box-sizing: content-box;
    position: relative;
    overflow: hidden;

    .label-text {
      margin-bottom: 10px;
    }

    .doc-h2 {
      margin-bottom: 10px;
    }

    .trip-card-date {
      margin-bottom: $trip-card-padding;
    }

    .trip-card-club {
      width: fit-content;
      padding: 0 0.5em;
      background-color: rgb(229, 205, 190);
      border-style: solid;
      border-color: rgb(229, 205, 190);
      border-radius: 5px;
      margin-bottom: $trip-card-padding;
    }
  }
}

#create-trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $gray-2;
  border: 3px dashed $gray-2;
  box-shadow: none;

  &:hover{
    filter: brightness(120%);
  }

  .create-trip-words {
    margin-bottom: 1em;
  }
}

.all-trips-header {
  margin-bottom: 10px;
  color:black;
}

.all-trips-select {
  display: inline-block;
  width:15%;
  color:rgb(75, 157, 119);
  background: url(../../img/dropdownarrow.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  margin-right: 1rem;

}


input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
}


.calendar-container {
  margin-top: 2vh;
  height: 90vh;
  background-color: red;
  background: red;
}

.detail-right{
  text-align:right;
}

#signup-button{
  border-color:  rgb(75, 157, 119);
  background-color:  rgb(75, 157, 119);

}
.link{
  background-color: rgb(75, 157, 119);
  color:white;
}

#tiles-modal-open{
  width: 50%;
}
#tiles-modal-closed{
  width:100%;
}


// Unused


#ledyard::after{
  // background-image: url("../../img/ledyard.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 58%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#mountain::after{
  // background-image: url("../../img/dmc.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 46%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.4;
  bottom: -3%;
}

#doc::after{
  // background-image: url("../../img/doc.gif");
  background-size: 100%;
  content: ' ';
  display: block;
  position: absolute;
  left: 42%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}

#cnt::after{
  // background-image: url("../../img/cnt.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#wiw::after{
  // background-image: url("../../img/wiw.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.5;
  bottom: 0;
}
#wood::after{
  // background-image: url("../../img/woodsmen.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 42%;
  width: 60%;
  height: 90%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#surf::after{
  // background-image: url("../../img/surf.png");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 43%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: -1%;
}
#dmbc::after{
  // background-image: url("../../img/dmbc.jpg");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 70%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}
#wsc::after{
  // background-image: url("../../img/wsc.gif");
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  left: 41%;
  width: 60%;
  height: 50%;
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
}