@import '../../styles/base.scss';

.cancel-changes{
  color: #EE6E52;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.cancel-changes:hover{
  text-decoration: underline;
}
.pending-changes{
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5em;
  letter-spacing: 0.05em;
  color: #0CA074;
  font-size: 1em;
}

.header{
  margin-bottom: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  color: #000000;
}


#profile-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: white;
  box-shadow: $menu-shadow;
  border-radius: 10px;
  padding: 25px;
  width: 800px;

  #profile-card-picture-and-name {
    display: flex;
    align-items: center;

    .profile-pic-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 25px;

      &.profile-pic-container-edit {
        #profile-pic-upload-text {
          display: none;

        }

        &:hover {
          .profile-pic {
            filter: brightness(40%);
          }
  
          #profile-pic-upload-text {
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            width: 100%;
            height: 100%;
            color: white;
            font-size: 1em;
            font-weight: 500;
          }
        }
      }
    
      .profile-pic {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background: #D6D6D6;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type="file"] {
          display: none;
        }

        .user-initials {
          font-size: 3em;
          color: gray;
          font-weight: 800;
        }
        
        .profile-photo-fit {
          position: relative;
          width: 100%;     
          height: 100%;
          overflow: hidden;
          border-radius: 50%;
        }
        
        .profile-photo {
          position: absolute;
          top: 50%;     
          left: 50%;
          height: 100%;
          width: auto;
          transform: translate( -50%, -50%);
  
          &.landscape {
            height: 100%;
            width: auto;
          }
        }
      }
    }

    #profile-card-name {

      .doc-h1 {
        display: flex;

        img {
          margin-left: 0.5em;
          width: 1em;
        }
      }
  
      #profile-card-incomplete-notice {
        color: $error-red-deep;
      }
    }

    .profile-card-edit-toggle {
      width: 30px;
      transition: transform .2s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  > hr {
    background-color: $inactive-text;
    filter: opacity(50%);
    width: 100%;
    height: 2px;
    border-top: none !important;
    margin-top: 0; // override for bootstrap
  }


  #profile-card-info {
    display: flex;
    flex-direction: column;

    :last-child {
      margin-bottom: 0 !important;
    }

    .profile-card-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #profile-card-clubs {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          font-weight: 'bold';
        }
      }

      #profile-card-clubs-all {
        flex: 1;
      }

      .card-headings {
        color: gray;
      }

      .card-info {
        color: gray;
      }
    }

    hr {
      display: none;
    }
  }
}

.size{
  width: 1135.72;
  height: 348.05;
}





// .card-headings{
//   font-family: 'Nunito Sans', sans-serif;;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 1.25rem;
//   line-height: 1.7rem;
//   letter-spacing: 0.05em;
//   color: #939393;
//   flex: 0 1 auto;
// }

// .card-info {
//   font-family: 'Nunito Sans', sans-serif;;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 1.25rem;
//   line-height: 1.7rem;
//   letter-spacing: 0.05em;
//   text-align: right;
//   color: #939393;
//   flex: 0 1 auto;
// }
.extra-info{
  display: flex;
  flex-direction: column;
  max-width: 14em;
}
.extra-info-message{
  font-size: 0.7em;
  text-align: start;
}
.feedback{
  font-size: 0.75em;
  text-align: center;
  border-radius: 10px;
  background-color: #ffae42;
  width: 18em;
  color: #4a4a4a;
  line-height: 1.5rem;
  font-weight: 400;
  margin-right: 1em;
  margin-top: 0.5em;
  height: 0;
  overflow: hidden;
  transition: height .2s ease;
}
.show-feedback{
  padding: 0.5em;
  border: 1px solid #C4C4C4;
  height: 4em;
}

// input.my-form-control{
//   background: #FFFFFF;
//   border: 2px solid #C4C4C4;
//   border-radius: 5px;
//   padding: 0.2em;
// }
// .my-form-control:focus{
//   outline: none;
//   box-shadow: 0 0 0 0.15rem #0CA074;
// }

#leader-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  min-width: 14em;
  max-width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#leader-dropdown:focus{
  box-shadow: 0 0 0 0.15rem #0CA074;
}
#driver-cert-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  min-width: 14em;
  max-width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clothe-size-dropdown{
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  max-width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-size{
  color: #474747;
  margin-right: 2em;
  min-width: 2em;
}
.clothe-options{
  left: -4.5em;
}
#driver-cert-dropdown:focus{
  box-shadow: 0 0 0 0.15rem #0CA074;
}

.dropdown-item.club-option:hover{
  background: #FFFFFF;
}
.club-option{
  display: flex;
  align-items: center;
  padding: 0.3em;
}
.club-checkbox{
  margin-left: 0.5em;
}
.radio-button{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #939393;
  border-radius: 50%;
}
.checkbox-container:hover input ~ .radio-button {
  background-color: rgba(182, 236, 175, 0.658);
}
.checkbox-container input:checked ~ .radio-button {
  background-color: white;
  border: 1px solid #0CA074;
}
.radio-button:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .radio-button:after {
  display: block;
}
.checkbox-container .radio-button:after {
  left: 4px;
  top: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0CA074;
}
.profile-club-options{
  max-height: 50vh;
  overflow-y: scroll;
}
input#dash_number[type=number]::-webkit-inner-spin-button, 
input#dash_number[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@media only screen and (max-width: 980px) {
  .profile{
    flex-direction: column;
  }
  .profile-pic-container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .profile-card-body{
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 0;
    margin-right: 0;
  }
}
